.call-to-arms {
  font-size: 2rem;

}

.cta-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-primary-light;
  border-radius: 10px;
  padding: 5rem 7rem;

  &__text {
    color: white;
    &--header {
      padding-bottom: 10px;
    }
  }
}