.call-to-arms {
    font-size: 2rem;


  &__text {
    flex: 2 0 auto;
    color: white;


  }

  &__button {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
  }
}