.header {
  height: 75vh;
  background-color: $color-bg-dark;
  background-image: linear-gradient(
      to right bottom,
      (rgba($color-primary-light, 0.8)),
      (rgba($color-primary-dark, 0.8))
    ),
    url(../img/tr.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 15% 10%;
}

.header-hero {
  display: flex;


  &__text {
    flex: 1;
    padding-right: 5rem;

    &--primary-heading {
      font-weight: 900;
      font-size: 4.8rem;
      color: #f9faf8;
    }

    &--subtext {
      font-size: 1.8rem;
      color: #e5e7eb;
    }
  }
  &__image {
    flex: 1;
  }
}
