*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Define what 1 rem is.
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
      font-family: "Roboto", sans-serif;
  margin: 0;
}

.flexbox-container {
  display: flex;
  justify-content: center;
}

.header {
  background-color: $color-bg-dark;
  padding: 0 15% 10%;
}

.information, .quote, .call-to-arms {
padding: 7% 15%;
}
.call-to-arms .flexbox-container {
  background-color: $color-primary-light;
  border-radius: 10px;
  padding: 30px 100px;
}